<main>
    <div>
        <h1 id="welcomeHeader">Welcome to your Dashboard!</h1>
    </div>
    <div>
        <h4 id="welcomeTip">Below are you're personal posts. Feel free to take a look at a previous post or go ahead and make a new one!</h4>
    </div>
        <div>
        <h2 id="welcomePosts">Your Blog Posts:</h2>
        <ul class="blogPosts">
            {{#each blogPosts}}
            <div class="blogPost" data-post-id="{{this.id}}">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
                <p>By: {{user.name}}</p>
                <small>{{format_date this.date_created}}</small>
                <button id="updateBtn" class="updateBtn btn btn-primary" type="update">Update</button>
                <button id="deleteBtn" class="deleteBtn btn btn-primary" type="delete">Delete</button>
            </div>
            {{/each}}
        </ul>
    </div>
    <div id="dashboardForm" class="col-md-6 text-center">
        <form id="blog-post-form">
            <p id="commentP">Would you like to create a new post?</p>
            <div class="form-group">
                <label for="blog-title">Title:</label>
                <input class="form-input" type="text" id="blog-title" name="title" required />
            </div>
            <div class="form-group">
                <label for="blog-description">Description:</label>
                <input class="form-input" type="text" id="blog-description" name="description" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</main>
<script src="/js/post.js"></script>

